@font-face {
    font-family: "DISENZ";
    src: url("./Fonts/DISENZ.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


body{ 
    height: 500px;
    width: 500px;
    background-color:#dfb0f1;
}

.yuuning{
    height: 600px;
    width: 600px;
    position:absolute;
    left: 450px;
    top: 100px;
    transition: transform 0.3s;
    z-index: 5;
    cursor: pointer;
}

.yuuning:hover{
    transform: scale(1.2);
}


header{
    font-size: 70px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
    position: absolute;
    left: 425px;
}

.holder{
    background-color:#edcef9;
    height: 200px;
    width: 500px;
    text-align: center;
    position: absolute;
    top: 700px;
    left: 500px;
    border-radius: 40px;
    z-index: 3;
}

.score{
    font-size: 50px;
    color: white;
    font-family: "DISENZ", sans-serif;
}